<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<meta charset="UTF-8">
	<title>장바구니 페이지</title>
</head>
<!-- 장바구니 페이지 -->
<body>


<form id="listfrm" name="listfrm" method = "get" action="/showprod">
	<div style = "float:left;" th:if="${#lists.size(list)} > 0" th:each="list, i : ${list}">
	    <li>
			<ul  class="td1">판매제목</ul>
			<ul  class="td1">썸네일</ul>
		</li>
	    <li>
			<ul th:text="${list.salesTitle}"></ul>
			<ul><button type = "submit" th:name = "salesNo" th:value = "${list.salesNo}"><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[0]}" style="width: 300px; height:auto;"></img></button></ul>
		</li>
		<li>
			<ul  class="td1">상품명</ul> 
	        <ul  class="td1">상품설명</ul>
	        <ul  class="td1">가격</ul>
		</li>
		<li>
	        <ul th:text="${list.productName}"></ul>
	        <ul th:text="${list.salesContent}"></ul>
	        <ul th:text="${list.salesPrice}"></ul>
	    </li>
	</div>
</form>
</body>
</html>