<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 리스트</title>
</head>
<body>
<h1>db 테스트</h1>
<!--table id = "dbtest" border="1">
    <tr>
        <td>순번</td>
        <td>상품명</td>
        <td>상품설명</td>
        <td>가격</td>
    </tr>
	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
		<td th:text="${list.salesNo}"></td>
		<td th:text="${list.productName}"></td>
		<td th:text="${list.salesContent}"></td>
		<td th:text="${list.salesPrice}"></td>
		<tr>
			<td>평점</td>
		</tr>
		<tr>
			<td><input type="radio" th:name="reviewScore" value=1 checked> 1점 </td>
			<td><input type="radio" th:name="reviewScore" value=2 > 2점 </td>
			<td><input type="radio" th:name="reviewScore" value=3 > 3점 </td>
			<td><input type="radio" th:name="reviewScore" value=4 > 4점 </td>
			<td><input type="radio" th:name="reviewScore" value=5 > 5점 </td>
		</tr>
		
		<tr>
			<td>제목 : </td>
			<td><input type="text" th:name="serviceTitle"></input></td>
		</tr>
		<tr>
			<td>내용 : </td>
			<td><textarea type="text" th:name="serviceContent"></textarea></td>
		</tr>
	</tr-->
<form id="listfrm" name="listfrm" method = "post" action="/showprod">
	<table border="1" th:if="${#lists.size(list)} > 0" th:each="list, i : ${list}">
	    <thead>
	    <tr>
			<td  class="td1">판매제목</td>
			<td  class="td1">썸네일</td>
		</tr>
	    </thead>
	    <tbody>
	    <tr>
			<td th:text="${list.salesTitle}"></td>
			<td><button type = "submit" th:name = "salesNo" th:value = "${list.salesNo}"><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[0]}"></img></button></td>
		</tr>
		<tr>
			<td  class="td1">상품명</td>
	        <td  class="td1">상품설명</td>
	        <td  class="td1">가격</td>
		</tr>
		<tr>
	        <td th:text="${list.productName}"></td>
	        <td th:text="${list.salesContent}"></td>
	        <td th:text="${list.salesPrice}"></td>
	        
	        <!--th:block th:if="${#lists.size(list)} > 0" th:each="image, i: ${#numbers.sequence(2, #lists.size(#strings.setSplit(list.salesImg, '$%$')))}">
				<td><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[i.count]}"></td>
			</th:block-->
	    </tr>
	    </tbody>
	</table>
</form>
</body>
</html>