@charset "UTF-8";
html, body{
	margin: 0;
	padding: 0;
	height: 100%
}
.wrapper{  /*하단 영역 box만들기*/
	position: relative;
	min-height: 100%;
	padding: 0px;
}
.wrapperfooter{   /* wrapper영역이랑 비슷함 */
	margin-top: 500px;	/*hearder와 거리*/
	padding-bottom: 500px; /*footer의 영역*/
}
.footerUL{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.footerUL li{
	text-align: center;
}