@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

body {
   margin: 0; /* body의 기본마진을 없애줍니다(선택사항) */
   font-family: sans-serif; /* 고딕체 */
}

a {
   text-decoration: none; /* 기본 밑줄을 제거합니다 */
   color: #888;
}

a:hover {
   text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
}

header {
   /* margin: auto; header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬*/
   
  margin-left: auto;
  margin-right: auto;
   width: 1080px;
   height: 215px;
   display: flex;
   align-items: center; /* 하위 요소들 수직 가운데정렬 */
   position: relative;
   margin:auto;
   left: 0px;
   top: 0px;
}

fieldset {
   border: none; /* 기본 border 없애기(이 코드를 지우고 기본 border를 확인해보세요) */
}

.visually-hidden { /* legend 안보이게 설정. */
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   clip: rect(1px, 1px, 1px, 1px);

   white-space: nowrap;
}

.img_logo {
   margin-bottom: 12px;
   width: 150px;
   height: 140px;
}
.header-menu {
   text-align: right;
}
.header-menu a {
   color: #808000;
   padding: 10px;
   display: inline-block;
}
.header-menu a:hover {
   color: #666;
}
/* .link-top {
   position: absolute;
   right: 0;
}

.link-top ul {
   list-style: none;
}

.link-top ul>li {
   width: 34%;
   height: 70px;
   display: inline-block;
   float: left;
   text-align: center;
   line-height: 70px;
   margin-left: 1px;
   font-size: 20px;
}

.linkcolor {
   color: #808000;
} */

.search_box {
   width: 520px;
   height: 50px;
   border: 3px solid #f3c901;
   border-radius: 50px;
   display: flex;
   align-items: center;
}

.search_box input {
   flex: 9; /* search-box내부에서 9만큼의 크기를 차지(비율) */
   height: 46px;
   padding-left: 12px;
   padding-right: 12px;
   border: none;
   border-radius: 50px;
   outline: none;
   font-size: 18px;
}

.search_box button {
   flex: 1; /* search-box내부에서 1만큼의 크기를 차지(비율) */
   height: 46px;
   margin: 0;
   padding: 0;
   border: none;
   border-radius: 50px;
   outline: none;
   background: #f3c901;
   color: #ffffff;
}
/* nav */

header>nav {
   width: 100%;
   height: 45px;
   position: absolute;
   bottom: 0;
}
.top-menu ul {
   list-style: none;
   text-align: center;
   border-top: 1px solid red;
   border-bottom: 1px solid red;
   padding: 10px 0;
}
.top-menu ul li {
   display: inline;
   padding: 0 10px;
   letter-spacing: 5px;
}
.top-menu ul li a{
   text-decoration: none;
}
.top-menu ul li:hover {
   background-color: antiquewhite;
}

.color_sajo {
   color: #ff8000;
}
.color_cham {
   color: black;
}

/* .nav_items {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 25px;
   font-weight: bold;
   border-top: 1px solid #f1f3f6;
}

.nav_items ul>li {
   display: inline-block;
   margin-left: 8px;
   color: #ff8040;
}

.nav_items ul>li:nth-child(-n+7)>a {
   <ul>하위 n번째 <li>까지 각각 내부의 <a> 태그 접근
   color: #ff8040;
}

.nav_items ul>li>a {
   text-decoration: none;
   cursor: pointer;
} */
/*  main {
    background: #f2f4f7;
    min-height: 700px;
  }
  footer {
    background: #f2f4f7;
    height: 310px;
  } */
  
/* 재사용 클래스 */