@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0; /* body의 기본마진을 없애줍니다(선택사항) */
	font-family: sans-serif; /* 고딕체 */
}

a {
	text-decoration: none; /* 기본 밑줄을 제거합니다 */
	color: #888;
}

a:hover {
	text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
}

header {
	/* margin: auto; header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬*/
	width: 1080px;
	height: 215px;
	display: flex;
	align-items: center; /* 하위 요소들 수직 가운데정렬 */
	position: relative;
	margin: auto;
}

fieldset {
	border: none; /* 기본 border 없애기(이 코드를 지우고 기본 border를 확인해보세요) */
}

.visually-hidden { /* legend 안보이게 설정. */
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

.links { /* 링크들을 상단 우측에 위치시킵니다. */
	position: absolute;
	top: 0;
	right: 0;
}

.link_text {
	font-size: 18px;
	margin-left: 5px;
}

.img_logo {
	margin-bottom: 12px;
	width: 150px;
	height: 140px;
}

.header-menu {
	text-align: right;
}

.header-menu a {
	color: #808000;
	padding: 10px;
	display: inline-block;
}

.header-menu a:hover {
	color: #666;
}

.search_box {
	width: 520px;
	height: 50px;
	border: 2px solid #f3c901;
	display: flex;
	align-items: center;
}

.search_box input {
	flex: 9; /* search-box내부에서 9만큼의 크기를 차지(비율) */
	height: 46px;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	outline: none;
	font-size: 18px;
}

.search_box button {
	flex: 1; /* search-box내부에서 1만큼의 크기를 차지(비율) */
	height: 46px;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: #f3c901;
	color: #ffffff;
}

/* nav */
header>nav {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.top-menu ul {
	list-style: none;
	text-align: center;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	height: 50px;
	padding: 10px 0;
}

.top-menu ul li a{
	text-decoration: none;
}
/* 재사용 클래스 */
.color_sajo {
	color: #ff8000;
}
.color_cham {
	color: black;
}

.top-menu span {
	position: relative;
	top:-47px;
	right: -920px;
}

/*버튼 변화*/
a.chagebutton {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0px;
  margin: 0px 10px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}


.nav_items ul>li>a {
	text-decoration: none;
	cursor: pointer;
}

a.changebutton {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  transition: all 0.2s ;
}
.btnBlueGreen {
  background: #00AE68;
}
/*변화색*/
.btnBlueGreen.btnBorder {
  box-shadow: 0px 0px 0px 0px #21825B;
}

.btnBlueGreen.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #21825B;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnOrange {
  background: #FFAA40;
}

.btnPurple {
  background: #A74982;
}

.top-menu ul li {
	display: inline;
	padding: 0 10px;
	letter-spacing: 5px;
}
.top-menu ul li:hover {
	background-color: antiquewhite;
}