@charset "UTF-8";
#joinUser{
	width: 1080px;
   height: 600px;
   position: relative;
   margin: auto;
   left: 0px;
   top: 0px;
}
.joinUserdiv{
     width:100px;
     height:100px;
     position: absolute;
     float: left;
     left:30%;
     top: -5%;
}
h1{
	font-size: 25px;
	padding-bottom: 20px;
}
.join{
	width: 340px;
}
.join > div{
	display: flex;
	justify-content: center;
	padding-bottom: 7px;
	align-items: center;
}
.text{
	height: 30px;
}
label{
	flex: 1;
	text-align: left;
	font-size: 20px;
}
.joinbutton{
	width:100px;
	height:30px;
	background-color: #ff7f00;
	border: none;
	border-radius: 5px;
	position: absolute;
	left: 350px;
}
.emailbutton{
	width:150px;
	height:45px;
	background-color: #50bcdf;
	border: none;
	border-radius: 5px;
	position: absolute;
	left: 350px;
	background-color: #ff7f00;
}
.button1{
	font-size:17px;
	width:90px;
	height:45px;
	background-color: #ff7f00;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 50px;
}
.button2{
	font-size:17px;
	width:90px;
	height: 45px;
	background-color: #50bcdf;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 100px;
}
.time{
	position: absolute;
	left: 350px;
}
.IdText{
	position: fixed;
	top: 2px;
	right: -350px;
	width: 300px;
	height: 15px;
	
}
.EmailText{
	position: fixed;
	bottom: 59px;
	right: -420px;
	width: 300px;
	height: 15px;
}