@charset "UTF-8";
#login{
	flex-direction: column;
	justify-content: center;
	align-items:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	font-size: 25px;
	padding-bottom: 20px;
}
.gin{
	width: 320px;
}
.gin > div{
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	align-items: center;
}
.text{
	height: 30px;
	width: 200px;
}
label{
	flex: 1;
	text-align: left;
	font-size: 20px;
}
.button{
	font-size:17px;
	width:320px;
	height:45px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	background-color: #81c147;
}
.button2{
	font-size:17px;
	width:90px;
	height:45px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	left: 0px;
	bottom:-95px;
	background-color: #50bcdf;
}
.button3{
	font-size:17px;
	width:100px;
	height:45px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	left: 95px;
	bottom:-95px;
	background-color: #50bcdf;
}
.button4{
	font-size:17px;
	width:120px;
	height:45px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	right: 0px;
	bottom:-95px;
	background-color: #50bcdf;
}