@charset "UTF-8";
*{   /*전체 해당사항*/
	text-decoration: none; /*글 꾸미기: 없다.*/
	list-style: none;      /*글 앞 점지우기*/
}
a{
	color: inherit;
}
#Test{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%); /*원하는 위치로 가게해줌*/
	background-color: yellow;
	width: 150px;
	height: 250px;
}
.mainbar nav ul li{
	padding: 3px;
	float: left;
}
.mainbar nav ul li a{
	width: 120px;
	height: 50px;
	background-color: antiquewhite;
	
}
