@charset "UTF-8";
h1{
	font-size: 25px;
	padding-bottom: 20px;
}
#pwdChange{
	margin : 0 35%  auto;
	text-align: left;
}
.pwdchange{
	width: 350px;
}
.pwdchange > div{
	display: flex;
	justify-content: center;
	padding-bottom: 7px;
	align-items: center;
}
label{
	flex: 1;
	text-align: left;
	font-size: 20px;
}
.text{
	height: 30px;
}
.button2{
	font-size:17px;
	width:120px;
	height:45px;
	text-align : center;
	display:inline;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 50px;
	background-color: #ff7f00;
}
.button3{
	font-size:17px;
	width:90px;
	height:45px;
	text-align : center;
	display:inline;
	border: none;
	border-radius: 5px;
	position: relative;
	left: 52px;
	background-color: #50bcdf;
}