@charset "UTF-8";
h1{
	font-size: 25px;
	padding-bottom: 20px;
}
#Test{
	width:400px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pwd{
	width: 300px;
}
.pwd > div{
	display: flex;
	justify-content: center;
	padding-bottom: 7px;
	align-items: center;
}
.text{
	height: 30px;
}
label{
	flex: 1;
	text-align: left;
	font-size: 20px;
}
.button{
	width:100px;
	height:30px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	right: -55px;
	background-color: #ff7f00;
}
.button1{
	font-size:17px;
	width:90px;
	height:45px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	left: 90px;
	background-color: #ff7f00;
}
.button2{
	font-size:17px;
	width:90px;
	height:45px;
	text-align : center;
	display:iline;
	border: none;
	border-radius: 5px;
	position: absolute;
	right: 90px;
	background-color: #50bcdf;
}
.time{
	position: absolute;
	right : 5px;
}