@charset "UTF-8";
/*text 앞*/
label{
	flex: 1;
	text-align: right;
	font-size: 20px;
}
/*text*/
.text{
	height: 30px;
}
/*상세 text*/
.tkdtptext{
	height: 200px;
	width: 300px;
	resize: none;	
}

#PW{
	width: 1080px;
   height: 800px;
   position: relative;
   margin:auto;
   left: 0px;
   top: 0px;
	
}
table{ /*테이블 배치*/
     width:100px;
     height:100px;
     position: absolute;
     float: left;
     left:40%;
     top:10%;
     margin:20px; 
     border-collapse: separate;
}
select{
	height: 30px;
}

/*버튼*/

.productWritebutton{
	font-size:17px;
	width:100px;
	height:45px;
	border: none;
	border-radius: 5px;
	background-color: #50bcdf;
	position: relative;
	left: 20px;
}
.productWritebutton1{
	font-size:17px;
	width:100px;
	height:45px;
	border: none;
	border-radius: 5px;
	background-color: #ff7f00;
	position: relative;
	right: -50px;
}

h1{
	position: absolute;
	left: 450px;
}