<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>회원 탈퇴</title>
<!-- css -->
	<link rel="stylesheet" th:href="@{/css/deleteUser.css}"></link>
<!-- 음성 -->
	<script type="text/javascript" th:src="@{/js/voice.js}"></script>
<!-- 비밀번호 잘못 입력하였을때 알람을 주기위한 코드 --> 
	<th:block th:if="${alertOption == 1}">
		<script>
			top.alert("[[${message}]]");
		</script>
	</th:block>
</head>
<body>
<div id="Test">
	<h1>회원탈퇴</h1>
	<form id="cpwd" name="cpwd" method="post" action="/deleteUser" class="submitForm secession">
	<div>
		<label>비밀번호 입력</label>
		<input type="password" id="userPw" name="userPw" class="text">
	</div>
	<div>
		<button id="change-btn" class="button1">탈퇴</button>
		<input type="button" value="취소" onClick="location.href='/myPage'" class="button2">
	</div>
	</form>
</div>
</body>
</html>