<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>회원 탈퇴</title>
<!-- 비밀번호 잘못 입력하였을때 알람을 주기위한 코드 --> 
	<th:block th:if="${alertOption == 1}">
		<script>
			top.alert("[[${message}]]");
		</script>
	</th:block>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" th:src="@{/js/voice.js}"></script>
</head>
<body>
회원탈퇴
	<form id="cpwd" name="cpwd" method="post" action="/deleteUser" class="submitForm">
	
		<br>비밀번호 입력
		<input type="password" id="userPw" name="userPw">
		
		<span class="voiceExplain">테스트</span>
		<button id="change-btn">탈퇴</button>
		<input type="button" value="취소" onClick="location.href='/myPage'">
	</form>
</body>
</htmlx>