<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<meta charset="UTF-8">
	<title>회원 탈퇴</title>
	<!-- 음성 -->
		<script type="text/javascript" th:src="@{/js/voice.js}"></script>
	<!-- 비밀번호 잘못 입력하였을때 알람을 주기위한 코드 --> 
		<th:block th:if="${alertOption == 1}">
			<script>
				top.alert("[[${message}]]");
			</script>
		</th:block>
</head>
<body>
	<form id="cpwd" name="cpwd" method="post" action="/deleteUser" class="submitForm">
		<h1>회원탈퇴</h1>
		 <div class="form-group">
			<label>비밀번호</label>
			<span class="voiceExplain">비밀번호를 입력해주세요</span>
			<input type="password" th:id="userPw" th:name="userPw" class="focusVoice text" placeholder="비밀번호 입력">
		 </div>
		 <input type="button" id="joinUSer_btn" onClick="submitCheck()" value="가입" class="submit_button button1">
			<button id="change-btn">탈퇴</button>
			<input type="button" value="취소" onClick="location.href='/myPage'">
	</form>
<script type="text/javascript" th:src="@{/js/deleteUser.js}"></script>

</body>
</html>