<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>footer</title>
<link rel="stylesheet" th:href="@{/css/footer.css}"></link>
</head>
<!-- footer -->
<body>
	<footer>
		<div id="body-wrapper">
			<!-- <footer class="footer"> -->
			<ul>
				<li><a href="#">4조참치소개</a></li>
				<li><a href="#">인재채용</a></li>
				<li><a href="#">제휴제안</a></li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">청소년보호정책</a></li>
				<li><a href="#">전자금융거래약관</a></li>
				<li><a href="#">고객센터</a></li>
				<li><a href="#">&copy; 4조참치 Corp.</a></li>
			</ul>
			<!-- </footer> -->
		</div>
	</footer>
</body>
</html>

