<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>메인 페이지</title>
	<link rel="stylesheet" th:href="@{/css/header.css}"></link>
</head>
<!-- 메인페이지 -->
<body>
<header>
		<div id="HeaderMain">			
			<h1>
				<a href="/main">사조참치</a>
			</h1>
				<input type = "text" placeholder= "검색어 입력">
				<button>검색</button>
				
				<ul class="menu">
					<li>
						<div class ="my">
							<a href="/myPage">마이 페이지</a>
						</div>
						<div class ="login">
							<a href=/login class="loginLink" >로그인</a>
							<a href=/logout class="logoutLink">로그아웃</a>
						</div>
					</li>
				</ul>

			<nav id="main">
		<ul>
			<li>
				<a href="" class="Line">의류</a>
			</li>
			<li>
				<a href="" class="Line1">뷰티/잡화</a>
			</li>
			<li>
				<a href="" class="Line2">식품/생필품</a>
			</li>
			<li>
				<a href="" class="Line3">가구</a>
			</li>
			<li>
				<a href="" class="Line4">가전제품</a>
			</li>
			<li>
				<a href="" class="Line5">스포츠 장비</a>
			</li>
			<li>
				<a href="" class="Line6">상품권</a>
			</li>
		</ul>
	</nav>
	</div>
</header>

</body>
</html>