<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<meta charset="UTF-8">
<title>ID 찾기</title>
	<link rel="stylesheet" th:href="@{/css/idFind.css}"></link>
	<!-- 음성 -->
	<script type="text/javascript" th:src="@{/js/voice.js}"></script>
	<!-- 알람 --> 
		<th:block th:if="${alertOption == 1}">
			<script>
				top.alert("[[${message}]]");
			</script>
		</th:block>
<!-- id찾기 -->
</head>
<body>
	<div class= "idFind1" id="Test">
		<form id="idFindscreen"  name="idFindscreen" method="post" action="/postIdFind" class="idFind confirm id">
		<h1>아이디 찾기</h1>
			<div class="form-group">
				<label>E-mail</label>
				<span class="voiceExplain">이메일을 입력하시고 발송 버튼을 클릭해주세요</span>
				<input type="text" th:id="userEmail" th:name="userEmail" placeholder="이메일" class= "focusVoice text" > 
				<button type="button" id="Btn2" onclick="sendConfirm()" class="button">인증코드 발송</button>
			</div>	
			<div class="form-group">
				<label>인증코드</label>
				<span class="voiceExplain">인증코드를 5분 이내로 입력해주세요</span>	
				<input type=text disabled th:id="confirm" th:name="confirm" placeholder="인증코드" class= "focusVoice text">
				<span id="timer">05:00</span>
<!--  			<button disabled id="completion" onclick="checkCompletion()"></button>
-->	           	
       		</div>
			
			<input type="button" value="찾기" onClick="idFind()" class="button1">
			<input type="button" value="취소" onClick="location.href='/login'" class="button2"> 
		</form>
	</div>
<script type="text/javascript" th:src="@{/js/mailConfirm.js}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" th:src="@{/js/idFind.js}"></script>
<script type="text/javascript" th:src="@{/js/timer.js}"></script>
</body>
</html>
