<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<meta charset="UTF-8">
	<title>ID 정보</title>
	<link rel="stylesheet" th:href="@{/css/idFindSuccess.css}"></link>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<!-- 음성안내를 위한 스크립트 -->
	<script type="text/javascript" th:src="@{/js/voice.js}"></script>
	<script th:src="@{/js/includeHTML.js}"></script>
	
</head>
<body>
<div include-html="/header"></div>

[[${ID}]]
<br>
<div id="idFS">
	<span class="voiceExplain">로그인하러가기 버튼입니다</span>
	<input type="button" value="로그인하러가기" onClick="location.href='/login'" class="hoverVoice button1">
	
	<span class="voiceExplain">비밀번호찾기 버튼입니다</span>
	<input type="button" value="비밀번호 찾기" onClick="location.href='/passwordFind'" class="hoverVoice button2">
</div>
<div include-html="/footer"></div>
<script>includeHTML();</script>

	<!-- 로그인 로그아웃 세션확인 코드 -->
	<script th:src="@{/js/isLoginCheck.js}"></script>
	<script>
		isLoginCheck();
	</script>
</body>
</html>