<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<form id="frm" name="frm" method="post" action="/regi.do">
			<h1>회원가입</h1> 
			<table class="user_detail">
				<tr>
					<td>ID : </td>
					<td><input type="text" id="userId" name="userId"></td>
				</tr>
				<tr>
					<td>비밀번호 : </td>
					<td><input type="text" id="userPw" name="userPw"></td>
				</tr>
				<tr>
					<td>비밀번호 확인 : </td>
					<td><input type="text" ></td>
				</tr>
				<tr>
					<td>이름 : </td>
					<td><input type="text" id="userName" name="userName"></td>
				</tr>
				<tr>
					<td>E-mail :  </td>
					<td><input type="text" id="userEmail" name="userEmail"></td>
				</tr>
				<tr>
					<td>핸드폰 번호 : </td>
					<td><input type="text" id="userPhone" name="userPhone"></td>
				</tr>
				<tr>
					<td>주소 : </td>
					<td><input type="text" id="userAddress" name="userAddress"></td>
				</tr>
			</table>
			<input type="submit" id="test" value="가입">
			<input type="button" value="취소">
		</form>
	</div>
</body>
</html>