<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!-- jquery 라이브러리 -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<!-- 중복체크 CSS -->
	<link rel="stylesheet" th:href="@{/css/idOverlap.css}"></link>
	<link rel="stylesheet" th:href="@{/css/mailConfirm.css}"></link>
	<link rel="stylesheet" th:href="@{/css/joinUser1.css}"></link>
	<!-- 음성 -->
	<script type="text/javascript" th:src="@{/js/voice.js}"></script>
	<!-- 알람 -->
	<th:block th:if="${alertOption == 1}">
			<script>
				top.alert("[[${message}]]");
			</script>
	</th:block>
</head>
<!-- 사용자 CSS 추가 -->
<body>
	<div id= "Test" >
	<div class="container">
		<form id="frm" name="frm" method="post" action="/postregi" class="join confirm">
			<h1>회원가입</h1> 
			 <div class="form-group">
				<label>아이디</label>
				<span class="voiceExplain">아이디를 20자 이내로 입력해주세요</span>
				<input type="text" th:id="userId" th:name="userId" class="focusVoice text" placeholder="20자 이내 입력"/>
				<!-- 중복확인 -->
				<button type="button" id="Btn1" onclick="checkId()" class="button" >중복 확인</button>
				<span class="id_ok">사용 가능한 아이디입니다.</span>
				<span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
				
			</div>
			<div class="form-group">
				<label>비밀번호</label>
				<span class="voiceExplain">비밀번호를 20자 이내로 입력해주세요</span> 
				<input type="password" th:id="userPw" th:name="userPw" class="focusVoice text" placeholder="20자 이내 입력"/>
			</div>
			<div class="form-group">
				<label>비밀번호 확인</label>
				<span class="voiceExplain">비밀번호를 확인해주세요</span>
				<input type="password" th:id="userPwCheck" th:name="userPwCheck" class="focusVoice text" placeholder="비밀번호 확인"/>
			</div>
			<div class="form-group">
				<label>이름</label>
				<span class="voiceExplain">이름을 입력해주세요</span>
				<input type="text" th:id="userName" th:name="userName" class="focusVoice text" placeholder="이름"/>
			</div>
			<div class="form-group">
                <label>이메일주소</label>
                <span class="voiceExplain">이메일주소를 입력하시고 코드 발송 버튼을 클릭해주세요</span>
                <input type="email" th:id="userEmail" th:name="userEmail" class="focusVoice text" placeholder="이메일">
                <button type="button" id="Btn2" onclick="checkMail()"class="emailbutton">중복 확인 <br>인증코드 발송</button>
                <span class="mail_ok">사용 가능한 메일입니다.</span>
				<span class="mail_already">이미 사용중인 메일입니다.</span>
            </div>
         	<div class="form-group">
                <label>인증코드</label>
                <span class="voiceExplain">인증코드를 5분 이내로 입력해주세요</span>
                <input type="text" disabled th:id="confirm" th:name="confirm" class="focusVoice text"  placeholder="인증번호">            	
            	<span id="timer" class="time">05:00</span>
<!--            	<button disabled id="completion" onclick="checkCompletion()">인증확인</button>   -->
      		 </div>

            <div class="form-group">
                <label>휴대폰 번호</label>
                <span class="voiceExplain">휴대폰 번호를 입력해주세요</span>
                <input type="tel" th:id="userPhone" th:name="userPhone" class="focusVoice text" placeholder="휴대폰 번호">
            </div>
            <div class="form-group">
                <label>주소</label>
                <span class="voiceExplain">주소를 입력해주세요</span>
                <input type="text" th:id="userAddress" th:name="userAddress" class="focusVoice text" placeholder="주소">
            </div>
			<input type="button" id="joinUSer_btn" onClick="submitCheck()" value="가입" class="submit_button button1">
			<input type="button" value="취소" onClick="location.href='/login'" class="button2"> 
		</form>
	</div>
	</div>
<script type="text/javascript" th:src="@{/js/idOverlap.js}"></script>
<script type="text/javascript" th:src="@{/js/mailConfirm.js}"></script>
<script type="text/javascript" th:src="@{/js/joinUser.js}"></script>
<script type="text/javascript" th:src="@{/js/timer.js}"></script>
</body>
</html>