<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<script th:src="@{/js/includeHTML.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
   <link rel="stylesheet" th:href="@{/css/mainPage.css}"></link>
<!--    <link rel="stylesheet" th:href="@{/css/header.css}"></link>
   <link rel="stylesheet" th:href="@{/css/footer.css}"></link> -->
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<!-- 중간 메뉴칸 -->
<body>
	<div include-html="/header"></div>
	
	
	

	<div include-html="/footer"></div>
	
	<script>includeHTML();</script>
	<script type="text/javascript" th:src="@{/js/header.js}"></script>	
</body>
</html>