<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>메인페이지 - 중간 카테고리</title>
	<script th:src="@{/js/includeHTML.js}"></script>
	<link rel="stylesheet" th:href="@{/css/mainPage.css}"></link>
	<link rel="stylesheet" th:href="@{/css/header.css}"></link>
	<link rel="stylesheet" th:href="@{/css/footer.css}"></link>
</head>
<!-- 중간 메뉴칸 -->

<body>
<div include-html="/header" class="up"></div>

	
	<div>
		사진(광고) 넣을수있는공간 예정중
	</div>
<footer include-html="/footer"></footer>
<script>includeHTML();</script>
</body>
</html>