<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>메인페이지 - 중간 카테고리</title>
	<script th:src="@{/js/includeHTML.js}"></script>
	<link rel="stylesheet" th:href="@{/css/mainPage.css}"></link>
	<link rel="stylesheet" th:href="@{/css/header.css}"></link>
	<link rel="stylesheet" th:href="@{/css/footer.css}"></link>
</head>
<!-- 중간 메뉴칸 -->

<body>
<div include-html="/header" class="up"></div>
	<nav id="main">
		<ul>
			<li>
				<a href="/listprod?productCategory=cloth" class="Line">의류</a>
			</li>
			<li>
				<a href="/listprod?productCategory=beauty" class="Line1">뷰티/잡화</a>
			</li>
			<li>
				<a href="/listprod?productCategory=food" class="Line2">식품/생필품</a>
			</li>
			<li>
				<a href="/listprod?productCategory=tools" class="Line3">가구</a>
			</li>
			<li>
				<a href="/listprod?productCategory=it" class="Line4">가전제품</a>
			</li>
			<li>
				<a href="/listprod?productCategory=sports" class="Line5">스포츠 장비</a>
			</li>
			<li>
				<a href="" class="Line6">상품권</a>
			</li>
		</ul>
	</nav>
	<div>
		사진(광고) 넣을수있는공간 예정중
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	<form id="listfrm" name="listfrm" method = "post" action="/showprod">
	<table border="1" th:if="${#lists.size(list)} > 0" th:each="list, i : ${list}">
	    <thead>
	    <tr>
			<td  class="td1">판매제목</td>
			<td  class="td1">썸네일</td>
		</tr>
	    </thead>
	    <tbody>
	    <tr>
			<td th:text="${list.salesTitle}"></td>
			<td><button type = "submit" th:name = "salesNo" th:value = "${list.salesNo}"><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[0]}" style="width: 300px; height:auto;"></img></button></td>
		</tr>
		<tr>
			<td  class="td1">상품명</td>
	        <td  class="td1">상품설명</td>
	        <td  class="td1">가격</td>
		</tr>
		<tr>
	        <td th:text="${list.productName}"></td>
	        <td th:text="${list.salesContent}"></td>
	        <td th:text="${list.salesPrice}"></td>
	        
	        <!--th:block th:if="${#lists.size(list)} > 0" th:each="image, i: ${#numbers.sequence(2, #lists.size(#strings.setSplit(list.salesImg, '$%$')))}">
				<td><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[i.count]}"></td>
			</th:block-->
	    </tr>
	    </tbody>
	</table>
	</div>
<footer include-html="/footer"></footer>
<script>includeHTML();</script>
</body>
</html>