<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script th:src="@{/js/includeHTML.js}"></script>
	<link rel="stylesheet" th:href="@{/css/mainPage.css}"></link>
	<link rel="stylesheet" th:href="@{/css/header.css}"></link>
	<link rel="stylesheet" th:href="@{/css/footer.css}"></link>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

	<!-- css-->
	<link rel="stylesheet" th:href="@{/css/myPage.css}"></link>
<!-- 마이페이지 -->
</head>
<body>
<div include-html="/header" class="up"></div>
<div id="myPage">
	<div  class="mainbar">
		<nav>
			<ul>
				<li><a href= "#" class="custom-btn btn-1">작성글 조회</a></li>
				<li><a href= "/userInfoChange" class="custom-btn btn-1">회원 정보변경</a></li>
				<li><a href= "myPagePwdChange" class="custom-btn btn-1">비밀번호 변경</a></li>
				<li><a href= "/productWrite" class="custom-btn btn-1">상품등록</a></li>
				<li><a href= "#" class="custom-btn btn-1">주문 내역 조회</a></li>
				<li><a href= "/deleteUser" class="custom-btn btn-1">회원탈퇴</a></li>
				<li><a href= "#" class="custom-btn btn-1">문의 조회</a></li>
			</ul>
		</nav>
	</div>
</div>
<footer include-html="/footer"></footer>
<script>includeHTML();</script>
</body>
</html>