<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<!-- 비밀번호 변경 -->
</head>
<body>
<h1>비밀번호 변경</h1>
<form id="cpwd" name="cpwd" method="post" action="/postPw">
	<table>
		<tr>
			<td>새 비밀번호</td>
			<td><input type="text" id="userPw" name="userPw"></td>
		</tr>
		<tr>
			<td>비밀먼호 확인</td>
			<td><input type="password" id="confirm_userPW" placeholder="비밀번호 확인"></td>
		</tr>
	</table>
	<input type="submit" value="비밀번호 변경">
	<button id="change-btn">변경</button>
</form>

<script type="text/javascript" th:src="@{/js/cpwd.js}"></script>
</body>
</html>