<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
	<link rel="stylesheet" th:href="@{/css/passwordFind.css}"></link>
		<th:block th:if="${alertOption == 1}">
			<script>
				top.alert("[[${message}]]");
			</script>
		</th:block>
<!-- 비밀번호 찾기 -->
</head>
<body>
	<div id="Test">
	<form id="pswFindscreen" action="postPwFind" name="pswFindscreen" method="post" class="confirm pwd">
	<h1>비밀번호 찾기</h1>
		<div class="form-group">
			<label>ID</label>
			<input type="text" th:id="userId" th:name="userId" placeholder="ID" class= "text">
		</div>
		<div class="form-group">
			<label>E-mail</label>
			<input type="text" th:id="userEmail" th:name="userEmail" placeholder="이메일"class= "text">
			<button type="button" onclick="sendConfirm()" class="button">인증코드 발송</button>
		</div>
		<div class="form-group">
			<label>인증코드: </label>
			<input type="text" disabled th:id="confirm" th:name="confirm" placeholder="인증코드" class= "text">
			<span id="timer">05:00</span>
<!--       <button disabled id="completion" onclick="checkCompletion()">인증확인</button>
-->					
		</div>	
		<input type="button" value="찾기" onClick="pswFind()" class="button1">
		<input type="button" value="취소" onClick="location.href='/login'" class= "button2"> 
	</form>
	</div>	
	
<script type="text/javascript" th:src="@{/js/mailConfirm.js}"></script></body>
<script type="text/javascript" th:src="@{/js/pswFind.js}"></script></body>
<script type="text/javascript" th:src="@{/js/timer.js}"></script></body>

</body>
</html>