<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<meta charset="UTF-8">
<title>비밀번호 변경</title>

<!-- 비밀번호 변경 -->
</head>
<body>
	<div id="pswc">
	<form id="cpwd" name="cpwd" method="post" action="pwdChange" class="submitForm">	
	<h1>비밀번호 변경</h1>
		<div class="form-group">
			<label>새 비밀번호</label>
			<input type="password" th:name="userPw" th:id="userPw" placeholder="새 비밀번호 입력">
		</div>
		<div class="form-group">	
			<label>비밀먼호 확인</label>
			<input type="password" th:name="userPwCheck" th:id="userPwCheck" placeholder="비밀번호 확인">
		</div>
		<button type="button" id="change-btn" onclick="pwdChangeSubmit()">변경</button>
	</form>
	</div>
	<script type="text/javascript" th:src="@{/js/pwdChange.js}"></script>
</body>
</html>