<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<meta charset="UTF-8">
	<title>결제 페이지</title>
	<link rel="stylesheet" th:href="@{/css/shoppingBasket.css}"></link>
	<link rel="stylesheet" th:href="@{/css/cardForm.css}"></link>
	<link rel="stylesheet" th:href="@{/css/userInfoForm.css}"></link>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script th:src="@{/js/cardForm.js}"></script>
	<script th:src="@{/js/paymentPage.js}"></script>
	<script th:src="@{/js/shoppingBasket.js}"></script>
	<script th:src="@{/js/includeHTML.js}"></script>
	<!-- 타임리프 변수를 js변수에 넣기위한 코드 -->
	<script th:inline="javascript">
		/*<![CDATA[*/
	    var baskets = /*[[ ${baskets} ]]*/
	    /*]]*/
	</script>
</head>
<!-- 결제 페이지 -->
<body>
<div include-html="/header"></div>
	
	<div class ="content">
		<div class="content_subject"><span>결제</span></div>
		<!-- 장바구니 리스트 -->
		<div class="content_middle_section">
		
			<!-- <label>이름</label>
			<div th:text="${userDto.userName}"></div>
			<label>휴대폰 번호</label>
			<div th:text="${userDto.userPhone}"></div>
			<label>주소</label>
			<div th:text="${userDto.userAddress}"></div> -->
			
			<div class="modal">
			    <div class="modal__container">
			      <div class="modal__featured">
			        <button type="button" class="button--transparent button--close">
			          <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
			            <g><path fill="#ffffff" d="M1.293,15.293L11,5.586L12.414,7l-8,8H31v2H4.414l8,8L11,26.414l-9.707-9.707 C0.902,16.316,0.902,15.684,1.293,15.293z"></path> </g></svg>
			          <span class="visuallyhidden">Return to Product Page</span>
			        </button>
			        <div class="modal__circle"></div>
			        <img src="https://cloud.githubusercontent.com/assets/3484527/19622568/9c972d44-987a-11e6-9dcc-93d496ef408f.png" class="modal__product" />
			      </div>
			      <div class="modal__content">
			        <h2>회원정보</h2>
			
			        <form>
			          <ul class="form-list">
			          	<li class="form-list__row">
			          		<br>
			          		<br>
			            </li>
			            <li class="form-list__row">
			              <label>이름</label>
			              <div th:text="${userDto.userName}" style="width:500px;"></div>
			            </li>
			            <li class="form-list__row">
			              <label>전화번호</label>
			              <div th:text="${userDto.userPhone}" style="width:500px;"></div>
			            </li>
			            <li class="form-list__row">
			              <label>주소</label>
			              <div th:text="${userDto.userAddress}" style="width:500px;"></div>
			            </li>
			          </ul>
			        </form>
			      </div> <!-- END: .modal__content -->
			    </div> <!-- END: .modal__container -->
			  </div> <!-- END: .modal -->
		</div>
		<!-- 장바구니 가격 합계 -->
		<!-- cartInfo -->
		<div class="content_totalCount_section">
			
			<table class="subject_table">
				<caption>표 제목 부분</caption>
				<tbody>
					<tr>
						<th class="td_width_1"></th>
						<th class="td_width_3">상품제목</th>
						<th class="td_width_4">가격</th>
						<th class="td_width_4">수량</th>
						<th class="td_width_4">합계</th>
					</tr>
				</tbody>
			</table>
			
			<table class="cart_table">
				<caption>표 내용 부분</caption>
				<tbody>
					<tr border="1" th:if="${#lists.size(baskets)} > 0" th:each="basket : ${baskets}">
						<td class="td_width_1"><img th:src="${'files/'+#strings.setSplit(basket.salesDto.salesImg, '$%$')[0]}" class="salesImg"></img></td>
						<td class="td_width_3 table_text_align_center" th:text="${basket.salesDto.salesTitle}"></td>
						<td class="td_width_4 table_text_align_center" th:text="${basket.salesDto.salesPrice}+'원'"></td>
						<td class="td_width_4 table_text_align_center" th:text="${basket.amount}"></td>
						<td class="td_width_4 table_text_align_center" th:text="${basket.amount}*${basket.salesDto.salesPrice}+'원'"></td>
					</tr>
				</tbody>
			</table>
			<table class="list_table">
			</table>
		</div>
		<!-- 가격 종합 -->
		<div class="content_total_section">
			<div class="total_wrap">
				<table>
					<tr>
						<td>
							<table>
								<tbody>
									<tr>
										<td>총 상품 가격</td>
										<td>
											<span class="totalPrice_span totalPrice"></span> 원
										</td>
									</tr>
									<tr>
										<td>배송비</td>
										<td>
											<span class="delivery_price">0</span> 원
										</td>
									</tr>
									<tr>
										<td colspan="2"><div class="boundary_div">구분선</div></td>
									</tr>	
									<tr>
										<td>
											<strong>총 결제 금액</strong>
										</td>
										<td>
											<span class="finalTotalPrice_span totalPrice"></span> 원
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<div class="content_btn_section">
								<a style="height: 70px;" onclick="showCardForm()">결제</a>
							</div>
						</td>
						<td>
							<div class="content_btn_section">
								<a style="height: 70px;" onclick="paymentCancle()">취소</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- 구매 버튼 영역 -->
		
	</div>
	
	<script>
		totalPriceFix();
	</script>

	<!-- 카드 결제정보 입력 -->
	<div class="cardForm">
		<div class="tips">
		결제카드 번호: (4) VISA, (51 -> 55) MasterCard, (36-38-39) DinersClub, (34-37) American Express, (65) Discover, (5019) dankort
		</div>
		
		<div class="container">
		  <div class="col1">
		    <div class="card">
		      <div class="front">
		        <div class="type">
		          <img class="bankid"/>
		        </div>
		        <span class="chip"></span>
		        <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
		        <div class="date"><span class="date_value">MM / YYYY</span></div>
		        <span class="fullname">FULL NAME</span>
		      </div>
		      <div class="back">
		        <div class="magnetic"></div>
		        <div class="bar"></div>
		        <span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
		        <span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
		      </div>
		    </div>
		  </div>
		  <div class="col2">
		  <form>
		    <label>카드 번호</label>
		    <input class="number" type="text" ng-model="ncard" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
		    <label>카드 소유자 이름</label>
		    <input class="inputname" type="text" placeholder=""/>
		    <label>유효 기간</label>
		    <input class="expire" type="text" placeholder="MM / YYYY"/>
		    <label>CVC 번호</label>
		    <input class="ccv" type="text" placeholder="CVC" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
		    <button class="buy" type="button" th:onclick="paymentSubmit( [[${#lists.size(baskets)}]], [[${baskets[0].salesDto.salesNo}]], [[${baskets[0].amount}]] )"> 결제 </button>
		    <button type="reset" class="buy" onclick="cardCancle()"> 취소 </button>
		  </form>
		  </div>
		</div>
	</div>
	
<div include-html="/footer"></div>
<script>includeHTML();</script>

	<!-- 로그인 로그아웃 세션확인 코드 -->
	<script th:src="@{/js/isLoginCheck.js}"></script>
	<script>
		isLoginCheck();
	</script>
</body>
</html>