<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 리스트</title>
</head>
<body>
<h1>db 테스트</h1>
<form id="listfrm" name="listfrm" method = "post" action="/showprod">
	<table border="1" th:if="${#lists.size(list)} > 0" th:each="list, i : ${list}">
	    <thead>
	    <tr>
			<td  class="td1">판매제목</td>
			<td  class="td1">썸네일</td>
		</tr>
	    </thead>
	    <tbody>
	    <tr>
			<td th:text="${list.salesTitle}"></td>
			<td><button type = "submit" th:name = "salesNo" th:value = "${list.salesNo}"><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[0]}" style="width: 300px; height:auto;"></img></button></td>
		</tr>
		<tr>
			<td  class="td1">상품명</td>
	        <td  class="td1">상품설명</td>
	        <td  class="td1">가격</td>
		</tr>
		<tr>
	        <td th:text="${list.productName}"></td>
	        <td th:text="${list.salesContent}"></td>
	        <td th:text="${list.salesPrice}"></td>
	    </tr>
	    </tbody>
	</table>
</form>
</body>
</html>