<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>상품 리스트</title>
	<link rel="stylesheet" th:href="@{/css/productShow.css}"></link>
</head>
<body>
<h1>상품 리스트</h1>
<table border="1">
    <thead>
    <tr>
		<td  class="td1">판매제목</td>
		<td th:text="${sales.salesTitle}"></td>
		<td  class="td1">상품명</td>
		<td th:text="${sales.productName}"></td> 
	</tr>
    </thead>
    <tbody>
	<tr>
		<td  class="td1">상품이미지</td>
		<td colspan = "3"><center><img th:src="${'files/'+#strings.setSplit(sales.salesImg, '$%$')[0]}"></img></center></td>
	</tr>
    <tr>
        <td  class="td1">상품설명</td>
        <td colspan = "4" th:text="${sales.salesContent}"></td>
    </tr>
    <tr>
		<td  class="td1">가격</td>
        <td colspan = "4" th:text="${sales.salesPrice}"></td>
	</tr>
	<tr>
		<td colspan = "4">상세이미지</td>
	</tr>
	<tr>
		<td colspan = "4"  style="vertical-align:top">
		    <th:block th:if="${#lists.size(sales)} > 0" th:each="image, i: ${#numbers.sequence(2, #lists.size(#strings.setSplit(sales.salesImg, '$%$')))}">
				<img th:src="${'files/'+#strings.setSplit(sales.salesImg, '$%$')[i.count]}">
			</th:block>
		</td>
	</tr>
    </tbody>
</table>
</body>
</html>
