<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>상품 등록 페이지</title>
</head>
<!-- 상품등록-->
<body>
<form>
<div>
    상품명 : <span th:text="${salesDto.ProductName}"></span>
</div>
<div>
    상품사진 : <span th:text="${salesDto.salesImg}"></span>
</div>
	
<div>
    상품상세설명 : <span th:text="${salesDto.salesContent}" style="width:300px; height:200px;"></span>
</div>	
<div>
    상품등록일 : <span th:text="${salesDto.regTime}"></span>
</div>
<div>
    상품가격 : <span th:text="${salesDto.salesPrice}"></span>
</div>

<p th:text="${salesDto.ProductCategory}">카테고리 
 <select name="job">
    <option value="">선택</option>
    <option value="의류">의류</option>
    <option value="뷰티">뷰티/잡화</option>
    <option value="식품">식품/생필품</option>
    <option value="기구">기구</option>
    <option value="가전제품">가전제품</option>
    <option value="가전제품">스포츠 장비</option>
 </select>
</p>
<p>
<input type="submit" value="등록">
<input type="submit" value="취소">
</p>
</form>
</body>
</html>