<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>상품 리스트</title>
	<link rel="stylesheet" th:href="@{/css/productShow.css}"></link>
</head>
<body>
<div>
	<h1>상품 리스트</h1>
	<table border="1">
		<thead>
			<tr>
				<td class="td1">순번</td>
				<td></td>
			</tr>
			<tr>
				<td class="td1">상품명</td>
				<td></td>
			</tr>
			<tr>
				<td class="td1">상품설명</td>
				<td></td>
			</tr>
			<tr>
				<td class="td1">가격</td>
				<td></td>
			</tr>
			<tr>
				<td  class="td1">상품등록일</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDto, status: ${salesDtoList}">
				<td th:text="${salesDto.salesNo}"></td>
				<td th:text="${salesDto.productNo}"></td>
				<td th:text="${salesDto.salesContent}"></td>
				<td th:text="${salesDto.salesPrice}"></td> 
				<td th:text="${salesDto.regTime}"></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
