<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<!-- 상품등록-->
<body>
<form>
<p><input type="text" value="제목"></p>


<input type="text" placeholder="내용 및 사진" style="width:300px; height:200px;">
<p>카테고리
 <select name="job">
    <option value="">선택</option>
    <option value="의류">의류</option>
    <option value="뷰티">뷰티/잡화</option>
    <option value="식품">식품/생필품</option>
    <option value="기구">기구</option>
    <option value="가전제품">가전제품</option>
    <option value="가전제품">스포츠 장비</option>
 </select>
</p>

<input type="text" placeholder="추가 내용" style="width:100px; height:200px;">

<p>
<input type="submit" value="등록">
<input type="submit" value="취소">
</p>
</form>
</body>
</html>