<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<meta charset="UTF-8">
	<title>장바구니 페이지</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script th:src="@{/js/includeHTML.js}"></script>
	<link rel="stylesheet" th:href="@{/css/searchResult.css}"></link>
</head>
<!-- 장바구니 페이지 -->
<body>
	<div include-html="/header"></div>
	<div id="sform">
		<form id="listfrm" name="listfrm" method="get" action="/showprod">
			<table class="type07" border="1" th:if="${#lists.size(list)} > 0"
				th:each="list, i : ${list}">
				<thead>
					<tr>
						<td class="td1">판매제목</td>
						<td th:text="${list.salesTitle}"></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td1">썸네일</td>
						<td><button type="submit" th:name="salesNo" th:value="${list.salesNo}"><img th:src="${'files/'+#strings.setSplit(list.salesImg, '$%$')[0]}" style="width: 300px; height: auto;"></img></button></td>
					</tr>
					<tr>
						<td class="td1">상품명</td>
						<td th:text="${list.productName}"></td>
					</tr>
					<tr>
						<td class="td1">상품설명</td>
						<td th:text="${list.salesContent}"></td>
					</tr>
					<tr>
						<td class="td1">가격</td>
						<td th:text="${list.salesPrice}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<div include-html="/footer"></div>
	<script>includeHTML();</script>
	<!-- 로그인 로그아웃 세션확인 코드 -->
	<script th:src="@{/js/isLoginCheck.js}"></script>
	<script>
		isLoginCheck();
	</script>
</body>
</html>