<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/test.css}"></link>
	<!-- 아이디 비밀번호 잘못 입력하였을때 알람을 주기위한 코드 --> 
		<th:block th:if="${alertOption == 1}">
			<script>
				top.alert("[[${message}]]");
			</script>
		</th:block>
</head>
<body>
<!-- 
<table id = "findId_test">
	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
		<td>귀하의 아이디</td>
		<td th:text="${list.userId}"></td>
	</tr>
</table>
-->
 
<form action="mailTest">
	<input type="text" id="userEmail" name="userEmail">
	<button>mail</button>
</form>

<label for="address2">아이디</label> 
<input type="text" id="id" name="id">
<button type="button" onclick="checkId()">check</button>
							
<!-- id ajax 중복체크 -->
<span class="id_ok">사용 가능한 아이디입니다.</span>
<span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" th:src="@{/js/test.js}"></script>

<h1>ID 로그인</h1>
<form action="/postLogin" method="post">
	<table>
		<tr>
			<td>아이디 : </td>
			<td><input type="text" name="userId" placeholder="아이디 입력"></td>
		</tr>
		<tr>
			<td>비밀번호 : </td>
			<td><input type="text" name="userPw" placeholder="비밀번호 입력"></td>
		</tr>
	</table>
<input type="submit" value="로그인">'
<a href="/joinUser">회원가입</a>
<a href="/idFind">아이디찾기</a>
<a href="/pwdFind">비밀번호찾기</a>
<input type="button" value="회원가입">
<input type="button" value="아이디찾기">
<input type="button" value="비밀번호찾기">

</form>
</body>
</html>