<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<link rel="stylesheet" th:href="@{/css/userInfoChange.css}"></link>
	<!-- 음성 스크립트 -->
	<script type="text/javascript" th:src="@{/js/voice.js}"></script>

<!-- 회원정보 변경 -->
</head>
<body>	
	<div id="userChange">
	<form name="userInfoChange" method="post" action="/userInfoChange" class="uc">
	<h1>회원정보 변경</h1>
		<div class="form-group">
			<label>휴대폰 번호</label>
			<span class="voiceExplain">휴대폰 번호를 입력해주세요</span>
			<input type="text" th:name="userPhone" th:value="${phone}" placeholder="휴대폰 번호" class= "focusVoice text">
		</div>
		<div class="form-group">
			<label>주소</label>
			<span class="voiceExplain">주소를 입력해주세요</span>
			<input type="text" th:name="userAddress" th:value="${address}" placeholder="주소" class= "focusVoice text">
		</div>	
		
		<span class="voiceExplain">회원정보변경 버튼입니다</span>	   
		<input type="submit" value="회원정보 변경" onClick="location.href='myPage.html'" class="hoverVoice button1">
		
		<span class="voiceExplain">취소 버튼입니다</span>
		<input type="button" value="취소" onClick="location.href='/myPage'" class="hoverVoice button2">
	</form>
	</div>
	<script type="text/javascript" th:src="@{/js/userInfoChange.js}"></script>	
</body>
</html>

 