<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 회원정보 변경 -->
</head>
<body>
	<div class="form-group">
       <label th:for="${email}">E-mail</label>
       <input type="email" th:field="${userDto.userEmail}" class="form-control" placeholder="E-mail">
    </div>				
    <div class="form-group">
      <label th:for="${phone}">휴대폰 번호</label>
      <input type="password" th:field="${userDto.userPhone}" class="form-control" placeholder="휴대폰 번호">
    </div>
    <div class="form-group">
      <label th:for="${password}">주소</label>
      <input type="text" th:field="${userDto.userAddress}" class="form-control" placeholder="주소">
    </div>
<input type="submit" value="확인">
<a href=Mypage.html><button>취소</button></a>

</body>
</html>