<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 회원정보 변경 -->
</head>
<body>	
	<div id="userChange">
	<form name="userInfoChange" method="post" action="/userInfoChange">
	<h1>회원정보 변경</h1>
		<div class="form-group">
			<label>휴대폰 번호</label>
			<input type="text" th:name="userPhone" th:value="${phone}" placeholder="휴대폰 번호" class= "text">
		</div>
		<div class="form-group">
			<label>주소</label>
			<input type="text" th:name="userAddress" th:value="${address}" placeholder="주소" class= "text">
		</div>	
			   
		<input type="submit" value="회원정보 변경" onClick="location.href='myPage.html'">
		<input type="button" value="취소" onClick="location.href='/myPage'">
	</form>
	</div>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" th:src="@{/js/userInfoChange.js}"></script>
</body>
</html>

 